@model IEnumerable<Planner.Models.Lembrete>

@{
    ViewData["Title"] = "Lista de Lembretes";
}

<h2>@ViewData["Title"]</h2>

<form method="get" class="mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select id="tipo" name="tipo" class="form-control">
                    <option value="">Todos</option>
                    @foreach (var tipo in Enum.GetValues(typeof(Planner.Models.Enum.TipoLembrete)).Cast<Planner.Models.Enum.TipoLembrete>())
                    {
                        <option value="@tipo">@tipo</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="recorrente">Recorrente Semanal</label>
                <select id="recorrente" name="recorrente" class="form-control">
                    <option value="">Todos</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="mes">Mês</label>
                <select id="mes" name="mes" class="form-control">
                    <option value="">Todos</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="ano">Ano</label>
                <select id="ano" name="ano" class="form-control">
                    <option value="">Todos</option>
                    @for (int i = DateTime.Now.Year - 10; i <= DateTime.Now.Year + 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 0.6em; background-color: #ce854d; border-color: #ce854d; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">Filtrar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Recorrente Semanal</th>
            <th>Data e Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lembrete in Model)
        {
            var rowClass = "lembrete-futuro";
            if (lembrete.DataHora < DateTime.Now)
            {
                rowClass = "lembrete-passado";
            }
            else if (lembrete.DataHora.Date == DateTime.Now.Date)
            {
                rowClass = "lembrete-hoje";
            }

            <tr class="@rowClass">
                <td>@lembrete.Titulo</td>
                <td>@lembrete.TipoLembrete</td>
                <td>@(lembrete.RecorrenteSemanal ? "Sim" : "Não")</td>
                <td>@lembrete.DataHora.ToString("g")</td>
                <td>
                    <a href="@Url.Action("Detalhe", "Lembrete", new { id = lembrete.Id })" class="btn btn-info" style="background-color: #ceb751; border-color: #ceb751; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">Detalhes</a>
                    <a href="@Url.Action("Editar", "Lembrete", new { id = lembrete.Id })" class="btn btn-warning btn-shadow" style="background-color: #d6e9b8; border-color: #dae8c4; color: black; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">Editar</a>
                    <a href="@Url.Action("Deletar", "Lembrete", new { id = lembrete.Id })" class="btn btn-danger btn-shadow" style="background-color: #ce5069; border-color: #ce5069; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Adicionar", "Lembrete")" class="btn btn-success" style="background-color: #ce5069; border-color: #ce5069; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">Adicionar Novo Lembrete</a>