@model Planner.Models.Relatorio

@{
    ViewData["Title"] = "Relatório Anual";
}

<h2 class="relatorio-titulo">@ViewData["Title"]</h2>

<div class="relatorio-container">
    <table class="table table-relatorio">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Quantidade de Metas Criadas</td>
                <td>@Model.QuantidadeMetasCriadas</td>
            </tr>
            <tr>
                <td>Quantidade de Metas Cumpridas</td>
                <td>@Model.QuantidadeMetasCumpridas</td>
            </tr>
            <tr>
                <td>Porcentagem de Metas Cumpridas</td>
                <td>@Model.PorcentagemMetasCumpridas%</td>
            </tr>
            <tr>
                <td>Quantidade de Metas Não Atingidas</td>
                <td>@Model.QuantidadeMetasNaoCumpridas</td>
            </tr>
            <tr>
                <td>Quantidade de Tarefas Criadas</td>
                <td>@Model.QuantidadeTarefasCriadas</td>
            </tr>
            <tr>
                <td>Quantidade de Tarefas Executadas</td>
                <td>@Model.QuantidadeTarefasExecutadas</td>
            </tr>
            <tr>
                <td>Porcentagem de Tarefas Executadas</td>
                <td>@Model.PorcentagemTarefasExecutadas%</td>
            </tr>
            <tr>
                <td>Quantidade de Tarefas Não Executadas</td>
                <td>@Model.QuantidadeTarefasNaoExecutadas</td>
            </tr>
            <tr>
                <td>Semana Mais Produtiva</td>
                <td>@Model.SemanasMaisProdutivas</td>
            </tr>
            <tr>
                <td>Mês Mais Produtivo</td>
                <td>@Model.MesesMaisProdutivos</td>
            </tr>
            <tr>
                <td>Turno Mais Produtivo</td>
                <td>@Model.TurnosMaisProdutivos</td>
            </tr>
            <tr>
                <td>Categoria de Tarefa Mais Realizada</td>
                <td>@Model.CategoriaTarefaMaisRealizada</td>
            </tr>
            <tr>
                <td>Categoria de Meta Mais Realizada</td>
                <td>@Model.CategoriaMetaMaisRealizada</td>
            </tr>
        </tbody>
    </table>

    <div class="relatorio-voltar">
        <a href="@Url.Action("Index", "Relatorio")" class="btn btn-secondary btn-relatorio-voltar">Voltar</a>
    </div>
</div>
